# Python Data Types

In [16]:
4*4

16

In [17]:
4**2

16

In [18]:
x = 4

In [19]:
y1 = float(x**2)

In [20]:
y2 = int(y)

In [21]:
y3 = str(y)

In [22]:
y4 = y1+y2

In [23]:
y4

32.0

In [24]:
type(y1)

float

In [25]:
type(y2)

int

In [26]:
type(y3)

str

In [27]:
y5 = bool(y1)

In [28]:
y5

True

In [29]:
z = 4

In [30]:
x==z

True

In [31]:
age = input("enter your age: ")

enter your age: 21

In [32]:
age

'21'

In [33]:
type(age)

str

In [34]:
age = int(age)

In [35]:
age

21

In [37]:
import math
y1s = math.sqrt(y1)

In [38]:
y1s

4.0

# Python Data Structures

In [46]:
# Lists
mylist=[2,3,4,5,6,7,8,9,10,11,12]

In [47]:
mylist

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [49]:
type(mylist)

list

In [50]:
mylist2 = [13,14,15,16,17,18,19,20]

In [51]:
mylist2

[13, 14, 15, 16, 17, 18, 19, 20]

In [52]:
type(mylist2)

list

In [55]:
mylist2.append(21)

In [56]:
mylist3 = ["Lauren", "Paul", "Taylor"]

In [57]:
mylist3

['Lauren', 'Paul', 'Taylor']

In [58]:
mylist4 = ["Lauren", 21, "Student"]

In [59]:
mylist4

['Lauren', 21, 'Student']

In [61]:
import numpy as np

In [62]:
listnp = np.array(mylist)

In [63]:
mylist
mylist2

[13, 14, 15, 16, 17, 18, 19, 20, 21]

In [64]:
mylist

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [65]:
mylist+mylist2

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

In [66]:
mylist5 = [2,3,4,5,6,7,8,9,10,11,12]

In [67]:
mylist+mylist5

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [68]:
mylistadd1 = np.array(mylist)

In [69]:
mylistadd2 = np.array(mylist5)

In [70]:
mylistadded = mylistadd1 + mylistadd2

In [71]:
mylistadded

array([ 4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24])

In [75]:
myaddedlist = []
for x in mylist:
    myaddedlist.append(x+x)

In [76]:
myaddedlist

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]

In [78]:
for x in mylist:
    add = x+x
    print(add)

4
6
8
10
12
14
16
18
20
22
24

In [79]:
mylist

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [80]:
mylist[3]

5

In [81]:
mylist[6]

8

In [82]:
mylist[-1]

12

In [84]:
mylist[0:4]

[2, 3, 4, 5]

In [85]:
#Tuples
mytuple = (2,3,4,5,6,7,8,9,10,11,12)

In [86]:
type(mytuple)

tuple

In [87]:
mytuple(3)

TypeError: 'tuple' object is not callable

In [89]:
mydictionary = {'FName': 'Lauren', 'LName': 'Boudreau', 'age': 21}

In [92]:
mydictionary['FName']

'Lauren'

In [97]:
nations = {'pop':[20,10,9,8]}